@font-face {
    font-family: "Sinistre";
    src: url("Sinistre-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sinistre";
    src: url("Sinistre-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
